@import '../../../../scss/index.scss';

// .register-form {
//     &__error {
//         color: $error !important;
//         text-align: center;
//     }
// }

/* RegisterForm.scss */

.register-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .register-form__error {
    color: red;
    margin-top: 10px;
  }
  
  /* Estilos para los campos de entrada de formulario */
  .register-form input[type="text"],
  .register-form input[type="email"],
  .register-form input[type="password"],
  .register-form select {
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    margin-top: 5px;
  }
  
  /* Estilos para los botones del formulario */
  .register-form button[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .register-form button[type="submit"]:hover {
    background-color: #0056b3;
  }
  
  /* Estilos para las etiquetas del formulario */
  .register-form label {
    font-weight: bold;
  }
  
  /* Estilos para los mensajes de error en los campos */
  .register-form .error {
    color: red;
    font-size: 14px;
    margin-top: 5px;
  }
  