$primary: #1890ff;
$primary-hover: #0280b3;
$secondary: #f5222d;

$light: #f5f5f5;
$text-light: #fff;

$background-dark: #001b35;
$background-grey: #f0f3f4;
$background-dark-web: #16212b;

$border-grey: #808080;
$border-grey-hover: #c4c4c4;

//Status
$success: #52c41a;
$warning: #faad14;
$error: #f5222d;
$info: #1890ff;

//Social colors
$facebook: #3b5998;
$twitter: #55acee;
$youtube: #cd201f;
$linkedin: #0077b5;

$dark: #000000;
$white: #ffffff;