.Container {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}

.Container h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.Container .datos {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.Container form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 20px;
}

.Container .form-group {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.Container label {
  font-weight: bold;
  margin-right: 10px;
  white-space: nowrap;
  width: 150px; /* Ajusta el ancho según tus necesidades */
}

.Container input[type="text"],
.Container input[type="number"] {
  flex: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.Container select {
  flex: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.Container .select-container {
  display: flex;
  align-items: center;
}

.Container .nav-button {
  padding: 4px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.Container .nav-button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.Container .form-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.Container .form-buttons input[type="button"],
.Container .form-buttons input[type="reset"] {
  padding: 8px 20px;
  border: none;
  border-radius: 4px;
  background-color: #3498db;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
}

.Container .form-buttons input[type="button"]:hover,
.Container .form-buttons input[type="reset"]:hover {
  background-color: #0280b3;
}

.Container .form-buttons2 {
  display: flexbox;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 20px;
  margin-left: 20px;
}

.Container .form-buttons2 input[type="button"],
.Container .form-buttons2 input[type="reset"] {
  padding: 8px 20px;
  border: none;
  border-radius: 4px;
  background-color: #3498db;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
}

.Container .form-buttons2 input[type="button"]:hover,
.Container .form-buttons2 input[type="reset"]:hover {
  background-color: #0280b3;
}

