@import '~/src/scss/index.scss';

.auth {
    display: flex;
    max-width: 600px;
    margin: 0 auto;
    padding: 120px;
    text-align: center;
  }
  
  .auth .logo {
    width: 200px;
    height: auto;
    object-fit: contain;
    margin-right: 20px;
    flex-shrink: 0;
  }
  
  .auth .auth__form {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  
  /* Resto de estilos... */
  
  .auth .auth__form .ui.segment {
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .auth .auth__form .ui.menu {
    background-color: #f5f5f5;
    border: none;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
  }
  
  .auth .auth__form .ui.menu .item {
    font-weight: bold;
    color: #555555;
  }
  
  .auth .auth__form .ui.menu .item.active {
    color: #000000;
    border-bottom: 2px solid #000000;
  }
  
  .auth .auth__form .ui.tab.segment {
    padding: 20px;
    border: none;
    background-color: #f5f5f5;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .auth .auth__form .ui.tab.segment .register-form,
  .auth .auth__form .ui.tab.segment .login-form {
    max-width: 300px;
    margin: 0 auto;
  }
  
  .auth .auth__form .ui.tab.segment .register-form .form-button,
  .auth .auth__form .ui.tab.segment .login-form .form-button {
    margin-top: 20px;
  }
  
  .auth .auth__form .ui.tab.segment .error-message {
    color: red;
    margin-top: 10px;
  }
  